# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT, condor and F4A stuff
stdout*
stderr*
*.swp
*.root
build/
macros/dstSet_*
macros/condor
*.txt
Makefile.in
*.m4
autom4te.cache/
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
condorJob/
*.out
*.err
*.log
*.list
